// Form elements
input[type='text'],
[type='email'],
input[type='tel'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	@apply w-full h-[48px] border-[1.2px] border-solid border-border rounded-md px-[12px] py-[14px] text-[15px]/[20px] text-darkBlack;

	&::placeholder {
		@apply text-[#A1ABB5];
	}
}

.error {
	@apply text-red-400 text-sm absolute mt-[2px] max-w-[400px] text-ellipsis overflow-hidden text-nowrap;
}

.label {
	@apply font-medium text-[15px]/[21px] text-darkBlack;
}

.alertSlow {
	&-enter {
		opacity: 0;
		transform: scale(0.9);

		&-active {
			opacity: 1;
			transform: translateX(0);
			transition: opacity 500ms, transform 500ms;
		}
	}

	&-exit {
		opacity: 1;

		&-active {
			opacity: 0;
			transform: scale(0.9);
			transition: opacity 500ms, transform 500ms;
		}
	}
}
